body {
	background-color: #f3f3f3;
	color: #555;
	font-family: Arial, Helvetica, sans-serif; 
	font-size:16px;
	line-height: 1.6em;
	margin:0;
}


#main-header {
	background-color: #555;
	color:white;
	text-align: center;
	left:50%;
	height: 5%;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 18% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 70%;
}

.modal h2 {
	margin-bottom: 10px;
}

#confirmation-box-content {
	font-size:25px;
	text-align: center;
	line-height: 1.5em;
	cursor: default;
}
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    width: 50%;
    margin-top: 0px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius:0px;
}

#forgot-username-form {
	display: inline;
	text-align: center;
}

#forgot-password-form {
	display: inline;
	text-align: center;
}

#forgot-username-form input[type=text] {
	width: 30%;
	margin-left: 32%;
	margin-right: 28%;
	margin-bottom: 10px;
}

#forgot-password-form input[type=text] {
	width: 30%;
	margin-left: 32%;
	margin-right: 28%;
	margin-bottom: 10px;
}

#forgot-username-form input[type=submit] {
	margin-left: 43%;
	margin-right: 40%;
	width: 15%;
	font-size: 16px;
}

#forgot-password-form input[type=submit] {
	margin-left: 43%;
	margin-right: 40%;
	width: 15%;
	font-size: 16px;
}

.tab-title {
	text-align: center;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

ul {
	list-style: none;
}

.container {
	margin:auto;
	overflow:hidden;
}

#forms-div {
	display:inline;
	text-align: center;
	font-size:40px;
}

#login-form-div {
	padding-top: 5%;
}

#previous-div {
	left:0%;
	width:80px;
	height:90%;
	position: absolute;
	transition: background-color 0.2s;
}
#next-div {
	right:0%;
	width:80px;
	height:90%;
	position: absolute;
	transition: background-color 0.2s;
}

#previous-div:hover {
	background-color: #e7e7e7
}

#next-div:hover {
	background-color: #e7e7e7
}

#previous {
	position: relative;
	object-position: center;
	top:45%;
	z-index: 200;
}

#next {
	position: relative;
	object-position: center;
	top:45%;
	z-index: 200;	
}

img {
	opacity: 0.5;
	height:60px;
	width:60px;
}

input[type=text], [type=password]  {
	width:20%;
	padding:12px 20px;
}

input[type=submit], button {
	width: 15%;
	padding: 10px;
	font-size:20px;
	position: center;
	background-color: white;
	text-decoration: none;
	color:black;
	border: 2px solid #555;
	border-radius: 5px;
	margin-top:5px;
	transition: box-shadow 0.1s;
}

input[type=submit]:hover, button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#login-password {
	margin-left:1%;
}

#register-email {
	margin-left: 1%;
}

#register-password {
	margin-left: 1%;
}

#forgot-username-password-link {
	font-size: 15px;
}

#login-form-div a {
	font-size: 15px;
	color: black;
}

#login-form-div a:visited {
	text-decoration: none;
	font-size: 15px;
	color: black;
}